#############
#   JAVA    # 
#############

*.class
*.ear
*.jar
*.war

#############
#   IDEA    # 
#############

*.iml
*/out/*
*/.idea/*

#############
#   MAVEN   # 
#############

*/target/*

#############
#  DOLPHIN  # 
#############

.directory
